body {
    background-color: #a9d7e9;
    text-align: center; 
}

form {
    background-color: #f3f3f3;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 3em;
}

#description {
    font-size: 1.25em;
}

.question {
    /*border: 1px solid black;*/
    display: inline-block;
    width: 45%;
    text-align: right;
    vertical-align: top;
    padding: 5px;
    margin-top: 10px;
}

.answer {
    /*border: 1px solid black;*/
    display: inline-block;
    text-align: left;
    width: 45%;
    padding: 10px;
}

.input-field, textarea {
    padding: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    height: 20px;
    width: 250px;
}

.dropdown {
    height: 35px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

[type=radio], [type=checkbox] {
    margin-bottom: 10px;
}

button {
    font-size: 1em;
    color: white;
    background-color: #6ba2ce;
    border-style: none;
    border-radius: 4px;
    /* the text will still be centered when only specifying height and width*/
    height: 40px;
    width: 80px;
    margin-top: 5px;
}

@media only screen and (max-width: 768px) {
    form {
        width: 70%;
    }

    .input-field, textarea {
        width: 80%;
    }
}

@media only screen and (max-width: 576px) {
    .question, .answer {
        display: block;
        width: 100%;
        text-align: left;
        box-sizing: border-box;
    }

    .answer {
        padding: 5px; /* the same padding as it's been for question throughout */
    }
}
